body {
  font-family: cursive;
  overflow: hidden;
}

.container {
  height: 100vh;
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.digitalClock {
  width: fit-content;
  margin: auto;
  padding: 10px;
  border-radius: 2px;
  color: rgb(198, 20, 20);
  background: rgba(0, 0, 0, 0.1);
}
.digitalClock h1 {
  display: inline-block;
  margin: 0px 10px;
  font-size: 5rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  #bar1,
  #bar2 {
    display: none;
  }
  .digitalClock {
    text-aligh: center;
    width: 100%;
  }
  .digitalClock h1 {
    display: block;
  }
}

@media (max-width: 480px) {
  .digitalClock h1 {
    font-size: 4rem;
  }
}
